.infoCardTitle{
    font-weight: bold;
}

.titlePage{
    font-weight: bold;
    color: rgb(95,95,95);
}

body{
    background-color: rgb(230,230,230);
}

.titleChart{
    color: white;
    font-weight: 500;
    font-size: 25px;
}

.spanTitle{
    color: #fbc02d;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
    padding-left: 10px;
}

.spanTitle:hover{
    font-style: normal;
    opacity: 0.5;
}

.icoSett{
    font-size: 15px;
}

.icoDatePicker{
    cursor: pointer;
}

#icoDatePicker:hover{
    opacity: 0.5;
}

.spanModify{
    color: #c62828;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
    padding-left: 10px;
}

.spanModify:hover{
    font-style: normal;
    opacity: 0.5;
}

.selectMonth{
    color: white;
}