.infoCardTitle{
    font-weight: bold;
}

.titlePage{
    font-weight: bold;
    color: rgb(95,95,95);
}

body{
    background-color: rgb(230,230,230);
}

.titleChart{
    color: white;
    font-weight: 500;
    font-size: 25px;
}